@import "tailwindcss";

/* 🎨 Paleta y tipografía */
@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-brand-black: #0B0B0C;
  --color-brand-blue: #C7E2FF;
}

/* Estilos globales */
html, body {
  font-family: var(--font-sans);
  background-color: white;
  color: #171717;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-brand-black);
  text-decoration: none;
}

a:hover {
  color: var(--color-brand-blue);
}

@keyframes fade-in-out {
  0%, 100% { opacity: 0; transform: translateY(-5px); }
  20%, 80% { opacity: 1; transform: translateY(0); }
}
.animate-fade-in-out {
  animation: fade-in-out 1.5s ease-in-out;
}